body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;; /* Cor de fundo mais escura */
    color: #61dafb; /* Cor principal para texto */
}

.container {
    display: flex;
}

.sidebar {
    margin-top: 0.5%;
    margin-left: 0.5%;
    border-radius: 3%;
    background-color: #242424; ;
    color: #fff;
    width: 230px; 
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    font-size: 1.5em; 
    color: #fff; 
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin-top: 20px; 
}

.sidebar-item {
    margin-bottom: 15px; 
}

.sidebar-link {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-top: 0.5%;
    border-radius: 0.5%;
    margin-left: 1%;
    padding: 20px;
    flex: 1; /* O conteúdo ocupa o espaço restante */
    background-color: #242424; /* Cor de fundo mais escura */
    color: #fff;
}

.titulo-musicas {
    color: #fff; /* Cor verde do Spotify */
    font-size: 2em; /* Ajuste de tamanho da fonte */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}
.music-list {
    cursor: pointer;
    list-style: none;
    padding: 0;
}


.music-list-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #121212;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: #121212 ;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
}
.music-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000; /* Cor de fundo mais escura */
    padding: 15px; /* Ajuste de padding */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.music-player audio {
    width: 100%; 
    background-color: #343a40;
    border: none;
}

.music-player audio::-webkit-media-controls-panel {
    background-color: #343a40;
}

.music-player audio::-webkit-media-controls-play-button,
.music-player audio::-webkit-media-controls-pause-button,
.music-player audio::-webkit-media-controls-mute-button,
.music-player audio::-webkit-media-controls-volume-slider {
    display: none; 
}

.music-player audio::-webkit-media-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-player audio::-webkit-media-controls-play-button {
    background-color: #1DB954; 
    margin-right: 10px;
}

.music-player audio::-webkit-media-controls-play-button:hover {
    background-color: #1ed760; 
}

.music-player audio::-webkit-media-controls-current-time-display,
.music-player audio::-webkit-media-controls-time-remaining-display {
    color: white;
    font-size: 0.9em;
}
